---
layout: default
---

<!-- Carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000"
data-pause="hover" data-wrap="true">
  <div class="carousel-inner" role="listbox">
    {% for i in site.data.custom.carousel %}
      <div class="item {{ i.active }}">
        <img class="{{ i.slide_num }}" src="{{ i.img_url }}" alt="First slide">
        <div class="container">
          <div class="carousel-caption">
          <h1>{{ i.heading }}</h1>
          <p>{{ i.cmnt }}</p>
          <p><a class="btn btn-info btn-sm" href="{{ i.post_url | prepend:site.url }}" role="button">Read More</a></p>
          <form class="navbar-form">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<!-- /.carousel -->

<!-- container -->
<div class="container">

  <section id="about">
    <h2>About</h2>
    <p class="text-justify">{{ site.data.custom.about }}</p>
  </section>

  <!-- Dashboard -->
  <h2>Dashboard</h2>
  <div class="row placeholders">
    <!-- Assigning the dashboard image links to an array -->
    {% assign words = "images/currentaffairs_200x200.png images/reasoning_200x200.png images/management_200x200.png images/arithmetic_200x200.png images/mock_200x200.png" | split: ' ' %}

    {% assign count = 0 %}
    {% for post in site.posts offset:1  %}
    <div class="col-xs-6 col-sm-3 placeholder">
      <a href="{{ post.url | prepend:site.url }}">
        <img src="{{ words[count] }}" class="img-responsive" alt="{{ words[count] }}">
        {% assign count = count | plus:1 %}
      </a>
      <h4>{{ post.title }}</h4>
      <span class="text-muted">
        <a class="btn btn-info btn-sm" href="{{ post.url | prepend:site.url }}">
        Read More</a><!-- - <a href="{{ "/2015/05/14/arithmetic.html#disqus_thread" | prepend:site.url }}">
        Comments</a>-->
      </span>
    </div>
    {% endfor %}
  </div>
  <!-- /.Dashboard -->

  <!-- notification section -->
  <section id="notifications">
    <h2>Notifications</h2>
    {% for post in site.posts %}
      {% if post.title == 'Notifications' %}
        {{ post.excerpt }}
        <p><a class="btn btn-info"
        href="{{ "/2015/05/17/notifications.html" | prepend:site.url }}">
        view all...</a></p>
        {% endif %}
    {% endfor %}
  </section>

</div><!-- /.container -->

<!-- commenting disqus -->
<!-- <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'qualitativein';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script> -->
