<!-- Static navbar -->
<nav class="navbar navbar-custom navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
      </button>
      <a class="navbar-brand" href="{{ site.url }}">{{ site.data.custom.site_brand_name }}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
            <a href="#page-top"></a>
        </li>
        <li><a href="{{ site.url }}">Home</a></li>
        <li class="active">
          <a class="page-scroll" href="{{ "/about.html" | prepend:site.url }}">About</a>
          </li>
          <!-- <li><a class="page-scroll" href="#notifications">Notifications</a></li> -->
        <li>
          <a href="{{ "/contact.html" | prepend:site.url }}">Contact</a>
          </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dashboard<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.data.custom.carousel[0].post_url | prepend:site.url }}">Management</a></li>
            <li><a href="{{ site.data.custom.carousel[1].post_url | prepend:site.url }}">Reasoning</a></li>
            <li><a href="{{ site.data.custom.carousel[2].post_url | prepend:site.url }}">Arithmetic</a></li>
            <li><a href="{{ site.data.custom.carousel[3].post_url | prepend:site.url }}">Current Affairs</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Tests</li>
            <li><a href="{{ "/2015/05/11/moke.html" | prepend:site.url }}">Moke</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
